html, body {
  height: 100%;
  width: 100%;
  /* box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden; */
}

#quilled-container {
  height: 100%;
  /* box-sizing: border-box; */
}

/* 
.app-container {
  height: 100%;
  box-sizing: border-box;
}
*/

/* 
*/

.quill {
  background-color: #fbfef9;
  /* padding: 10px;
  max-height: 100%;
  overflow-y: auto; */
}

/* 

.ql-container {
  background-color: pink;
  /* padding: 16px;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll; */

/* 
.ql-editor {
  background-color: blue;
  max-height: 100%;
  cursor: text;
  overflow-y: scroll;
} */

.ql-editor {
  max-height: calc(100vh - 100px);
  overflow-y: scroll;
  resize: vertical;
}

/* 
.MuiListItem-root.Mui-selected {
  background-color: #d4d8e8 !important;
}

.no-note-selected {
  font-size: 48px;
  position: absolute;
  top: 50px;
  left: calc(50% - 165px);
} */

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 1s ease-in infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}